body{
  padding-top: 0;
}
.header-container{
  min-height: 100vh;
  background: url('../assets/headerbg.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
}
.header{
  min-height: 100vh;
  background: rgba(0,0,0, .8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #dcdcdc;
  padding: 50px;
  word-wrap: break-word;
}
.header h1{
  font-size: 36px;
  margin: 30px auto;
  text-align: center;
}
.header p{
  width: 90%;
  text-align: center;
  font-size: 26px;
}
.video-container{
  /* margin: 50px auto; */
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ddd;
  padding: 50px 10px;
}
.video-container h1{
  margin: 5px auto 30px;
  color: #222;
  position: relative;
  text-align: center;
}
.video-container h1:after{
  content: '';
  width: 60%;
  height: 4px;
  background: #0080ff;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%, 0);
}
/* .video-container video{
  width: 80%;
  height: auto;
  cursor: pointer;
  box-shadow: 0px 5px 15px #222;
} */
iframe{
  display: block;
  width: 90%;
  height: auto;
  min-height: 550px;
}
footer{
  margin-top: 0 !important
}
@media(max-width: 780px){
  .header h1{
    font-size: 22px
  }
  .header p{
    font-size: 16px;
  }
  iframe{
    height: 90vh;
  }
}
